/* メインページ */
.participant {
	/* 参加者リストを少し右に寄せる */
	margin-left: 10px;
	/*  */
}
/* イベント左側 */
.eventleft{
    /* 左寄せ */
	float: left;
	/* 右側を入れるために幅を調整 */
	width: 20%;
}
/* イベント右側 */
.eventright{
    /*ボックスを右側に配置*/
	float: right;
	/*ボックスの幅*/
	width: 80%;
}