/* ブラックモード */

@media (prefers-color-scheme: dark) {
    a{
        color: white;
    }
    body {
        background: #333333;
        color: white;
    }
    a{
        color: white;
    }
}

/* タブレット端末 */

@media(max-width:1600px) {
    .container {
        width: 90%;
    }
}

/* スマートフォン向け */

@media(max-width:670px) {
    /* 左右コンテンツ解除 */
    .contents{
        display: block;
    }
    /* 左側コンテンツ */
    section {
        /* 左寄せ解除 */
        /* float: none; */
        /* 横幅いっぱいに */
        width: 100%;
    }
    /* 右側ボックス↓ */
    aside {
        /* 右側配置解除 */
        /* float: none; */
        /* 横幅いっぱいに */
        width: 100%;
    }
    /* 自己紹介↓ */
    .icon {
        /* 左寄せを解除 */
        float: none;
    }
    .selfintroduction {
        /* 左に空白を作り右寄せを無しに */
        margin: auto;
    }
}
