body {
	line-height: 2;
	padding: 0px;
	text-align: center;
}

h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd, form {
	margin: 0px;
	padding: 0px;
}

ul {
	list-style-type: none;
}

img {
	border: none;
}

input, textarea, select {
	font-size: 1em;
}

form {
	margin: 0px;
}

a {
	color: #424E60;
}

a:hover {
	color: #772850;
	text-decoration: none;
}

table {
	border-collapse: collapse;
	font-size: 100%;
	border-spacing: 0;
}

/* ヘッダーの空き */

header, nav, article, aside, section, footer {
	display: block;
}

/*コンテンツ（左右のブロックを囲むボックス）
---------------------------------------------------------------------------*/
.contents{
	display: flex;
}

/*メインコンテンツ（左側ボックス）

---------------------------------------------------------------------------*/

section {
	/* 左寄せ */
	float: left;
	/* 右側を入れるために幅を調整 */
	width: 100%;
}

section p {
	text-align: left;
	padding: 0.5em 10px 1em;
}

section li {
	text-align: left;
}

/*サイドコンテンツ（右側ボックス）

---------------------------------------------------------------------------*/

aside {
	/*ボックスを右側に配置*/
	float: right;
	/*ボックスの幅*/
	width: 500px;
}

aside .box {
	border: 1px solid #bfbfbf;
	/*右側ボックスの各ボックスを囲む線色。*/
	margin-bottom: 1em;
}

aside h3 {
	font-size: 100%;
	/* color: #424E60; */
	/*h3タグの文字色*/
	/* text-align: center; */
	/*文字をセンタリング*/
	border-bottom: 1px solid #bfbfbf;
	/*h3タグ下に直線を追加*/
	padding-top: 1em;
	padding-bottom: 1em;
	/* background-image: url(images/h3bg.gif); */
	/*h3の背景画像*/
	/* background-repeat: repeat-x; */
	/*背景画像を横軸にリピート*/
	/* background-position: center; */
	/*背景画像を上下中央に配置*/
}

aside .sidemenu a {
	text-decoration: none;
	/*サイドメニューのリンクの下線を削除*/
	/* width: 326px; */
	display: block;
	background-color: #272E39;
	/* background-image: url(images/sidemenu_bg.gif); */
	/*サイドメニューの背景画像*/
	/* background-repeat: repeat-y; */
	/* background-position: center; */
	/* text-align: center; */
	/*メニューテキストをセンタリング*/
	/* margin-right: 1px; */
	/* margin-bottom: 1px; */
	/* margin-left: 1px; */
	color: #FFFFFF;
	/*メニューの文字色*/
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

/*フッター（コピーライトなど入っている一番下のボックス）

---------------------------------------------------------------------------*/

footer {
	text-align: center;
	clear: both;
	width: 100%;
}

/*メインコンテンツ内の「What's New」部分

---------------------------------------------------------------------------*/

/*テーブル

---------------------------------------------------------------------------*/

/*細々

---------------------------------------------------------------------------*/

.color1 {
	color: #772850;
}

.look {
	background-color: #f5f5f5;
}

.mb1em {
	margin-bottom: 1em;
}

/* 見出しCSS ----------------------------------------------------------------*/

section h2 {
	padding: 0.4em 0.5em;
	/*文字の上下 左右の余白*/
	color: #494949;
	/*文字色*/
	background: #f4f4f4;
	/*背景色*/
	border-left: solid 5px #7db4e6;
	/*左線*/
	border-bottom: solid 3px #d7d7d7;
	/*下線*/
	text-align: left;
}

/* https://saruwakakun.com/html-css/reference/h-design */

/* 見出し-2-CSS */

section h3 {
	color: #364e96;
	/*文字色*/
	background: #f4f4f4e0;
	padding: 0.1em 0;
	/*上下の余白*/
	border-top: solid 4px #364e96;
	/*上線*/
	border-bottom: solid 4px #364e96;
	/*下線*/
	margin: 10px 0px;
	/*上に余白*/
	text-align: left;
}

/* 自己紹介アイコンを隣に.. */

.icon {
	float: left;
	height: 200px;
}

.selfintroduction {
	margin: 0px 0px 0px 200px;
	/* float: right; */
}