/* ブラックモード */

@media (prefers-color-scheme: dark) {
    body {
        background: #333333;
        color: white;
    }
    .menu button {
        color: white;
    }
    .drawer-hamburger-icon, .drawer-hamburger-icon:after, .drawer-hamburger-icon:before {
        background-color: white;
    }
}

/* タブレット端末 */

@media(max-width:1600px) {
    .container {
        width: 90%;
    }
    header {
        height: 160px;
    }
}

/* スマートフォン向け */

@media(max-width:670px) {
    .container {
        width: 100%;
    }
    header {
        height: 60px;
    }
    .headerlog {
        float: right;
    }
    .menu button {
        /* バンバーガーボタンを使う */
        display: none;
    }
    /* フラッシュプレイヤー*/
    .fla {
        /* 幅・高さ指定を無効に */
        display: none;
    }
    /* 左側コンテンツ */
    .main {
        /* 左寄せ解除 */
        float: none;
        /* 横幅いっぱいに */
        width: 100%;
    }
    /* 右側ボックス↓ */
    .side {
        /* 右側配置解除 */
        float: none;
        /* 横幅いっぱいに */
        width: 100%;
    }
    /* 自己紹介↓ */
    .icon {
        /* 左寄せを解除 */
        float: none;
    }
    .selfintroduction {
        /* 左に空白を作り右寄せを無しに */
        margin: auto;
    }
}